* {
    margin: 0;
    padding: 0;
}

.logo {
    cursor: pointer;

    .fa-bars {
        position: absolute;
        margin: 0rem 3rem;
        text-align: center;
        top: 1rem;
        font-size: 1.4em;


    }

    img {
        max-width: 22%;
        margin: 0 8rem;
    }
}




.bar {
    .bar-container {
        display: grid;
        // grid-template-columns: 101px 300px 1fr 200px;
        grid-template-columns: 400px 1fr 220px;
        align-items: center;


        .search {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;


            input {
                padding: .7rem 1rem;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                width: 200%;
                outline: none;
                // height: 40%;
                background: transparent;
                border: 1px solid #999;


            }

            span {
                border-bottom-right-radius: 50px;
                width: 100px;
                background: transparent;
                display: inline-block;
                padding: 0.63rem 1rem;
                border-top-right-radius: 50px;
                cursor: pointer;
                height: 40%;
                border: 1px solid #515050;
                border-left: none;

                &:nth-child(3) {
                    padding: 0;
                    border: none;
                    border-radius: 0;
                    background: transparent;
                    font-size: 1.3em;
                    margin-left: 1.5rem;
                }
            }

        }
    }

    .profile {
        display: flex;
        justify-content: space-between;
        width: 63%;
        margin-right: 1rem;
        align-items: center;
        cursor: pointer;

        span {

            i,
            svg,
            .pro-icon {
                font-size: 1.4em;
            }

        }
    }
}

// aside start
.sec-flex {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
.mini-aside{ 
    .menu-left{
         display: none;
    }
}
    aside, .mini-aside {
        overflow-x: hidden;
        overflow-y: auto;
        &:hover {
            &::-webkit-scrollbar-thumb {
                width: 10px;
                border-radius: 10px;
                background: #909090;
                &:hover {
                    opacity: .78;
                }
            }

        }

        /* width */
        &::-webkit-scrollbar {
            width: 9px;
        }

        //   /* Track */
        //   &::-webkit-scrollbar-track {
        //     box-shadow: inset 0 0 5px grey; 
        //     border-radius: 10px;
        //   }

        /* Handle */

        /* Handle on hover */
        // &::-webkit-scrollbar-thumb:hover {
        //     background: #b30000;
        // }


        .menu-left {
            border-right: 2px solid black;
            width: 90%;
            padding-top: 1rem;
            height: 100vh;
            margin: 0 1.7rem auto;

            .unorder-list {
                border-bottom: 1px solid #0000001a;
                padding-bottom: 1rem;

                h2 {
                    font-size: 1.1em;
                    padding-top: 1rem;
                    text-transform: capitalize;
                    font-weight: 500;
                }

                li {
                    list-style-type: none;
                    display: grid;
                    grid-gap: 1.3rem;
                    grid-template-columns: max-content 1fr;
                    align-items: center;
                    padding: 0.3rem 1rem;
                    cursor: pointer;

                    i,
                    .fab-icon {
                        font-size: 1.1em;

                    }

                    span {
                        font-family: "Roboto", "Arial", sans-serif;
                        font-size: .9em;
                        line-height: 2rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    p {
                        font-size: .79em;
                        font-family: "Roboto", "Arial", sans-serif;
                        font-weight: 550;
                        text-transform: capitalize;
                        color: #60606087;
                        line-height: .95rem;
                        padding-top: 1rem;


                    }

                }

            }

        }
    }
}